*~
*/*~
*/*/*~
*/*/*/*~
*/*/*/*/*~

\#*\#
*/\#*\#
*/*/\#*\#
*/*/*/\#*\#
*/*/*/*/\#*\#

.\#*
*/.\#*
*/*/.\#*
*/*/*/.\#*
*/*/*/*/.\#*


*.tar*
*/*.tar*
*/*/*.tar*
*/*/*/*.tar*
*/*/*/*/*.tar*

*.Rhistory
*/*.Rhistory
*/*/*.Rhistory
*/*/*/*.Rhistory
*/*/*/*/*.Rhistory

inst/tests/code_*/cache_*
inst/tests/code_*

